ul{
    list-style: none; 

}

li{
    display: inline;  font-size: 20px;  position:  relative; right:20px;
    top:20px; color:black;  
   
}

nav{
    text-align: right; word-spacing: 50px;
    background-color: rgba(255, 255, 0, 0.849); 
    padding-bottom: 30px; margin-top: -10px;
}

body{
    background-color: black;
}
:any-link{
    text-decoration: none;
}
h1{
    color:rgba(255, 255, 0, 0.849);; text-align: center; position:relative;
    top:150px; letter-spacing: 25px;

}
button{
    background-color: rgba(255, 255, 0, 0.849);; color:black;
    border:none; padding: 10px; padding-left: 30px; padding-right: 30px; 
    
}
button:hover{
    color: rgba(255, 255, 0, 0.849);;
    background-color: firebrick;
}
#casar{
    background-color: rgba(255, 255, 0, 0.849);; color:black;
    border:none; padding: 10px; padding-left: 30px; padding-right: 30px; 
    margin-left: 10px;
}
#casar:hover{
    color: rgba(255, 255, 0, 0.849);;
    background-color: firebrick;
}

p{
    color:white;
}
div{
    position:absolute; width: 200px; height: 400px; text-align: center;
    padding-top: 100px;
    background-color:rgba(255, 255, 0, 0.849); ;
}
 input{
    margin-top: 20px;
 }   
 #para{
    position: relative;
    top:-100px;
    text-transform:uppercase;
    letter-spacing: 5px;
 }

 select{
    margin: 10px;
    padding-left: 30px;
 }
#footer{
    position: absolute;
     bottom:-200px; left: 450px;
     text-align: justify;
     font-size: 10px;
}